<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>
      menu
    </mat-icon>
  </button>
  <span class="spacer"></span>
  <button mat-button routerLink="/map">Map <mat-icon> map</mat-icon>
  </button>

  <button mat-button>Hamza Bouras</button>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer #drawer mode="side" position="start" opened="true">

    <app-chart [chartData]="chartData"></app-chart>

  </mat-drawer>

  <mat-drawer-content>
    <div style="min-height:600px;">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

