@import url('@arcgis/core/assets/esri/themes/light/main.css');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container{
  padding: 10px;
}
mat-card-header{
  background-color: whitesmoke;
}
