.form-container {
  display: flex;
  flex-direction: row; /* Align fields vertically */
}

.form-field {
  margin-left: 10px;
}

.search-input {
  flex: 0.4;
  margin-right: 10px;
}

.no-results {
  margin-top: 20px;
}

.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.basemap-selector {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.card-container {
  display: flex;
  justify-content: space-between; /* Adjust as needed for spacing */
  align-items: flex-start; /* Align items at the top */
}

.card-left {
  width: calc(150% - 10px); /* Adjust width as needed */
  margin-right: 10px; /* Adjust margin between cards */
}

.card-right {
  width: 1000px;

}
